<div class="aside-top">栏目分类</div>
<div class="aside-list">
    <ul>
        <li ng-if="vm.showManageNav"><a ng-class="{active: state.includes('main.manage')}" ui-sref="main.manage.manageList">管理员信息</a></li>
        <li ng-if="vm.showUserNav"><a ng-class="{active: state.includes('main.user')}" ui-sref="main.user.userList">用户信息</a></li>
        <li ng-if="vm.showModuleNav"><a ng-class="{active: state.includes('main.module')}" ui-sref="main.module.moduleList">板块管理</a></li>
        <li ng-if="vm.showPostNav"><a ng-class="{active: state.includes('main.post')}" ui-sref="main.post.postList">帖子管理</a></li>
        <li ng-if="vm.showIntegralNav"><a ng-class="{active: state.includes('main.integral')}" ui-sref="main.integral.integralList">积分管理</a></li>
        <li ng-if="vm.showSystemNav"><a ng-class="{active: state.includes('main.system')}" ui-sref="main.system.systemConf">系统管理</a></li>
    </ul>
</div>