<form class="form-horizontal">

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-4 control-label">是否开启登录功能</label>
        <div class="col-sm-4">
            <label class="radio-inline">
                <input type="radio" name="login" ng-checked="vm.systemConf.bbs_login=='1'"   ng-model="vm.systemConf.bbs_login " value="1"> 开启
            </label>
            <label class="radio-inline">
                <input type="radio" name="login" ng-checked="vm.systemConf.bbs_login=='0'"   ng-model="vm.systemConf.bbs_login " value="0"> 关闭
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-4 control-label">是否开启注册功能</label>
        <div class="col-sm-4">
            <label class="radio-inline">
                <input type="radio" name="reg" ng-checked="vm.systemConf.bbs_register=='1'"   ng-model="vm.systemConf.bbs_register" value="1"> 开启
            </label>
            <label class="radio-inline">
                <input type="radio" name="reg" ng-checked="vm.systemConf.bbs_register=='0'"   ng-model="vm.systemConf.bbs_register" value="0"> 关闭
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-4 control-label">登录失败多少次要求验证码</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="" ng-model="vm.systemConf.bbs_login_fail_count" value="">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-primary" ng-click="updateConf()">保存</button>
        </div>
    </div>
</form>