<div class="container text-center">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col" ng-repeat="module in vm.moduleList">
            <a  href="" ng-click="goPostList(module.module_id,module.module_name)">
            <div class="thumbnail pt20">
                <div class="img-box">
                    <img ng-src="{{module.module_url}}" alt="">
                </div>
                <div class="caption">
                    <h4>{{module.module_name}}</h4>
                    <p>{{module.module_desc}}</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>