<div class="container">
    <div class="table-wrap" ng-switch="vm.tableFlag">
        <div class="no-search-post is-loading" ng-switch-when="0">加载中……</div>
        <div class="table-box pt20" ng-switch-when="1">
            <tm-pagination conf="paginationConf"></tm-pagination>
            <div class="row">
                <div class="col-md-12 list-group  pl15"  ng-repeat="search in vm.searchList">
                    <a href="" class="list-group-item pl25"  ng-click="goPostDetail(search.post_id,search.post_title)">
                    <img ng-src="{{search.user_face}}" class="pull-left user_face" alt="">
                    <h4 class="list-group-item-heading">{{search.post_title}}<small>--{{search.user_name}}</small></h4>
                    <span  class="badge bg-defalut">{{search.post_commentcount}}</span>
                    <p class="list-group-item-text">
                    <span class="mr10">{{search.module_name}}</span>
                    <span class="mr10">{{search.post_time}}</span>
                    <span class="mr10"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;{{search.post_readcount}}</span>
                    <span class="glyphicon glyphicon-thumbs-up ml10"></span>&nbsp;{{search.post_support}}
                    <span class="glyphicon glyphicon-thumbs-down ml10"></span>&nbsp;{{search.post_against}}
                    </p>
                    </a>
                </div>
            </div>
        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
        <div ng-switch-when="2" class="text-center">暂无记录</div>
    </div>
</div>