<div class="container">
    <div class="section-head">
        <ul class="nav nav-tabs">
            <li ui-sref-active="active"><a ui-sref="main.user.userInfo">个人信息</a></li>
            <li ui-sref-active="active"><a ui-sref="main.user.userPostList">我的帖子</a></li>
            <li ui-sref-active="active"><a ui-sref="main.user.userPostCollectionList">我的收藏</a></li>
            <li ui-sref-active="active" class="relative"><a ui-sref="main.user.userFriendList">我的好友 <span id="friendAlert" ng-if="friendAlert>0" class="alert-tips"></span></a></li>
            <li ui-sref-active="active" class="relative"><a ui-sref="main.user.userMessageList">我的留言 <span  id="messageAlert" ng-if="messageAlert>0" class="alert-tips"></span></a></li>
            <li ui-sref-active="active"><a ui-sref="main.user.userIntegralList">我的积分日志</a></li>
        </ul>
    </div>
    <div class="section-content"  ui-view></div>
</div>