<div class="container detail-wrap">
    <div ng-switch="vm.tableFlag">
        <div class="row detail is-loading" ng-switch-when="0">加载中……</div>
        <div class="table-box pt20" ng-switch-when="1">
            <div class="row detail" ng-repeat="message in vm.messageList">
                <div class="col-md-2 col-sm-3 hidden-xs">
                    <img ng-src="{{message.user_face}}" class="img-responsive br5" alt="">
                    <p class="text-center pt10">{{message.user_name}}</p>
                    <p class="text-center"><span>{{message.user_level_name}}</span></p>
                    <p class="text-center">
                    <a href=""  ng-click="addMessageModalShow(message.user_id,message.user_name)" class="mr10">留言</a>
                    <a href="" ng-if="message.isNotMyFriend" ng-click="addFriendModalShow(message.user_id,message.user_name)">加好友</a>
                    <a href=""  ng-if="message.isMyFriend"  ng-click="addWhispersModalShow(message.user_id,message.user_name)">发私信</a></p>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-12 detail-main relative">
                    <p class="min-h130">{{message.message_content}}</p>
                    <p class="text-right message_bottom min-h40 lh40 mb0 pr10">
                    <span class="mr10 visible-xs-inline">{{message.user_name}}&nbsp;发表于</span>
                    <span class="mr10">{{message.message_time}}</span>
                    <a href=""  ng-click="deleteMessage(message.message_id)">删除</a></p>
                    </p>
                </div>
            </div>
        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
        <div ng-switch-when="2" class="row detail text-center text-muted">暂无留言</div>
    </div>
</div>
<!-- addFriend -->
<div class="modal fade" id="addFriend" tabindex="-1" role="dialog" aria-labelledby="myModalLabelfriend">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelfriend">添加好友</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <p class="bg-warning pt10 pb10 pl15 pr15">您正在添加 <strong>{{vm.addFriend.name}}</strong> 为好友，清输入验证信息，方便他(她)同意 </p>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">验证信息</label>
                        <div class="col-sm-8">
                            <textarea class="form-control"  ng-model="vm.addFriend.desc"  placeholder="跟我交朋友吧"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"  ng-click="addFriend()" class="btn  btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- addMessage -->
<div class="modal fade" id="addMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabelfriend">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelfriend">发留言</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <p class="bg-warning pt10 pb10 pl15 pr15">您正在给 <strong>{{vm.addMessage.name}}</strong> 发起留言 </p>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">留言信息</label>
                        <div class="col-sm-8">
                            <textarea class="form-control"  ng-model="vm.addMessage.content"  placeholder="留言"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"  ng-click="addMessage()" class="btn  btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- addWhispers -->
<div class="modal fade" id="addWhispers" tabindex="-1" role="dialog" aria-labelledby="myModalLabelfriend">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelfriend">发私信</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <p class="bg-warning pt10 pb10 pl15 pr15">您正在给 <strong>{{vm.addWhispers.name}}</strong> 发起私信 </p>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">私信信息</label>
                        <div class="col-sm-8">
                            <textarea class="form-control"  ng-model="vm.addWhispers.content"  placeholder="私信"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"  ng-click="addWhispers()" class="btn  btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>