<div class="table-wrap" ng-switch="vm.tableFlag">
    <div class="no-search-post is-loading" ng-switch-when="0">加载中……</div>
    <div class="table-box pt20" ng-switch-when="1">
        <tm-pagination conf="paginationConf"></tm-pagination>
        <div class="row">
            <div class="col-md-12 list-group  pl15 relative"  ng-repeat="post in vm.userPostList">
                <a href="" class="list-group-item pl15"  ng-click="goPostDetail(post.post_id,post.post_title)">
                <img ng-src="{{post.module_url}}" class="pull-left h50" alt="">
                <h4 class="list-group-item-heading ellipsis">{{post.post_title}}</h4>
                <span  class="badge  bg-defalut">{{post.post_commentcount}}</span>
                <p class="list-group-item-text">
                <span class="mr10 hidden-xs">{{post.module_name}}</span>
                <span>{{post.post_time}}</span>
                <span class="mr10 hidden-xs"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;{{post.post_readcount}}</span>
                <span class="glyphicon glyphicon-thumbs-up ml10"></span>&nbsp;{{post.post_support}}
                <span class="glyphicon glyphicon-thumbs-down ml10"></span>&nbsp;{{post.post_against}}
                </p>
                <span ng-class="{true: 'post-normal', false: 'post-abnormal'}[post.active]">{{post.post_status}}</span>
                </a>
            </div>
        </div>
    </div>
    <tm-pagination conf="paginationConf"></tm-pagination>
    <div ng-switch-when="2" class="text-center">暂无记录</div>
</div>