<div class="table-wrap" ng-switch="vm.tableFlag">
    <div class="no-search-manage is-loading" ng-switch-when="0">加载中……</div>
    <div class="table-box" ng-switch-when="1">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>模块名</th>
                    <th>描述</th>
                    <th>URL</th>
                    <th>添加时间</th>
                    <th>创建人</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="module in vm.moduleList">
                    <td>
                        {{module.module_name}}
                    </td>
                    <td >
                        {{module.module_desc}}
                    </td>
                    <td>
                        {{module.module_url}}
                    </td>
                    <td>
                        {{module.module_time}}
                    </td>
                    <td>
                        {{module.manage_name}}
                    </td>
                    <td>
                        <a href=""  ng-click="deleteModalShow(module.module_id,module.module_name)" data-toggle="modal">删除</a>
                        <a href=""  ng-click="updateModalShow(module.module_id,module.module_name,module.module_desc,module.module_url)" data-toggle="modal">修改</a>
                        <a href=""  ng-click="addUserModuleModalShow(module.module_id)" data-toggle="modal">添加版主</a>
                        <a href=""  ng-click="getUserModuleModalShow(module.module_id)" data-toggle="modal">查看版主</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <tm-pagination conf="paginationConf"></tm-pagination>
    <div ng-switch-when="2" class="text-center">暂无记录</div>
</div>
<!-- getUserModuleModel -->
<div class="modal fade" id="getUserModuleModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabelUserModule">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelUserModule">版主信息</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>版主名</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="userModule in vm.userModuleList">
                            <td>
                                {{userModule.user_name}}
                            </td>
                            <td>
                                <a href=""  ng-click="deleteUserModule(userModule.user_module_id)" >删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- deleteModal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelDelete">删除板块</h4>
            </div>
            <div class="modal-body">
                确定删除  {{vm.deleteModal.moduleName}}  吗？
            </div>
            <div class="modal-footer">
                <button type="button"   ng-click="deleteModule()" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- allInfoModel -->
<div class="modal fade" id="allInfoModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabelInfo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelInfo">用户信息</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" ng-model="vm.addModuleModal.name" placeholder="用户名">
            </div>
            <div class="modal-footer">
                <button type="button"  ng-click="addUserModule()" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- updateModal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelupdate">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelupdate">修改板块</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">模块名</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="vm.updateModal.name" id="inputEmail3" placeholder="模块名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">模块描述</label>
                        <div class="col-sm-8">
                            <textarea class="form-control"  ng-model="vm.updateModal.desc"  placeholder="模块描述"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">缩略图</label>
                        <div class="col-sm-8">
                            <img id="url" class="br5" ng-src="{{vm.updateModal.url}}" alt="">
                            <input type="text" class="hidden"  id="module_url" ng-model="vm.updateModal.url">
                            <button type="button" ng-click="centerWindow('tpls/admin/module/uploadFile.html','upfile','400','100');">更改缩略图</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"  ng-click="updateModule()" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>